.header-logo{
  width: 80px;
  height: 80px;
  background-image: url(../../../resources/assets/images/icon2.png);
  /* background-color: #000; */
  background-size: cover;
  float: left;
  margin-top: 15px;
  margin-left: 35px;
}
.header-links{
  list-style: none;
  float: right;
  margin: 2.5rem;
}
.header-links li{
  margin: 2rem;
  display: inline;
}
.header-outer{
  width: 100%;
  height: 120px;
  background-color: #000;
  box-shadow: 0 1rem 4rem #000;
}
.header-inner{
  margin: 0 auto;
  width: 90%;
  height: 100px;
  background-color: #fff;
  transform: skewX(-20deg) translateY(10px);
}
.header-innder-wrapper{
  transform: skewX(20deg) translateY(-10px);
}

.header-link{
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem;
  width: 40px !important;
  color: var(--warning);
}
.header-link:hover{
  text-decoration: none;
}
.header-link::before{
  content:"";
  width: 100% !important;
  height: 30px !important;
  background-color: #000;
}